html {
}
h1 {
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}
#current_user {
	position:fixed;
	top:10px;
	left:15px;
	float:left;
	font-size:20px;
}
#sidebar {
	position:fixed;
	top:40px;
	left:0px;
	width:250px;
	height:100%;
	overflow-x:hidden;
	border-right:1px solid black;
	text-align:center;
	padding-top:5px;
	transition: width .5s;
}
#main {
	margin-left:250px;
	margin-top:40px;
	height:100%;
	transition: margin .5s;
}
#navbar {
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:40px;
	border:1px solid black;
}
.room_item:hover {
	color:white;
	background-color:grey;
	cursor:pointer;
	transition:.3s;
}
.room_item {
	border-top:1px solid black;
	margin:0px;
	height:50px;
}
.room_name {
	font-size:18px;
	font-weight:bold;
}
.room_creator {
	font-size:12px;
}
#menu_header {
	margin:0px;
	height:30px;
	font-size:18px;
	font-weight:bold;
}
.message_left {
	display:inline-block;
	width:90%;
	margin:3px;
	overflow-x:hidden;
}
.message_right {
	display:inline-block;
	width:90%;
	margin:3px;
	text-align:right;
	overflow-x:hidden;
}
.message_user {
	display:inline-block;
	width:8%;
	margin:3px;
	text-align:right;
}
#background_div {
	display:none;
  position:fixed;
  z-index:1; 
  left:0;
  top:0;
  width:100%;
  height:100%;
  overflow:auto;
  background-color:rgba(0,0,0,0.4); 
}
#create_room_div {
	background-color:#fefefe;
  margin:10% auto;
  padding:20px;
  border:1px solid #888;
  width:40%; 
}
#create_room_form {
	margin:5% auto;
	width:80%; 
}
#name {
	width:230px;
	margin-left:10%;
	margin-bottom:10px;
}
#expire {
	width:150px;
	margin-left:44%;
	margin-bottom:20px;
}
#close_btn {
	color:#aaa;
  float:right;
  font-size:28px;
  font-weight:bold;
}
#close_btn:hover, #close_btn:focus {
  color:black;
  cursor:pointer;
}
#submit_room_btn {
	color:green;
	margin-left:auto;
	margin-right:auto;
	width:150px;
}
#menu_toggle, #logout_btn,
#global_btn, #settings_btn,
#create_room_btn {
	margin-top:5px;
	margin-right:5px;
	float:right;
}
