html {
	background-color:grey;
}
h1 {
	margin-right:auto;
	margin-left:auto;
	margin-top:100px;
	text-align:center;
}
#login_div {
	margin-right:auto;
	margin-left:auto;
	text-align:center;
	margin-top:100px;
	width:600px;
}
#username {
	width:150px;
	margin-left:30px;
	text-align:center;
}
#password {
	width:150px;
	margin-left:36px; 
	text-align:center;
}
button {
	margin-top:10px;
	color:green;
}
#error_msg {
	margin-top:10px;
	font-size:12px;
	font-weight:bold;
	color:white;
	display:none;
}
