body{
	background-color: #52565C;
	font-family: "Limelight";
}
#settings_div {
	margin-right:auto;
	margin-left:auto;
	margin-top:20vh;	
	text-align:center;
	width:50vw;
	height:25vh;
}
#user_settings{
	padding-top:5vh;
	padding-bottom: 5vh;
	border:1px solid black;
}
#hr {
	width:85%;
	margin-top:2vh;
}
.pw {
	margin-top:2vh;
	margin-bottom:1vh;
}
#pw_label {
	margin-left:10vw; 
}
button {
	margin-top:1vh;
	color:white;
	background-color: #353739;
	/*font-family: "Limelight";*/
}
button:hover {
	color:black;
	background-color:white;
	border:2px solid #353739;
	transition:.5s;
	cursor:pointer;
}
#back_btn {
	float:left;
	/*margin-left:1vw;*/
	color:red;
}