body{
	background-color: #52565C;
	font-family: "Arial";
}
#settings_div {
	margin-right:auto;
	margin-left:auto;
	margin-top:120px;	
	text-align:center;
	border:1px solid black;
	width:50%;
	height:350px;
	padding-top:50px;
}
#hr {
	width:85%;
	margin-top:20px;
}
.pw {
	margin-top:25px;
	margin-bottom:5px;
	padding-left:7px;
  letter-spacing:3px;
  width:150px;
}
#pw_label {
	margin-left:40px; 
}
button {
	margin-top:1vh;
	color:white;
	background-color: #353739;
	/*font-family: "Limelight";*/
}
button:hover {
	color:black;
	background-color:white;
	border:2px solid #353739;
	transition:.5s;
	cursor:pointer;
}
#back_btn {
	float:left;
	margin-left:10px;
	color:red;
}
.settings_error {
	font-size:12px;
	color:red;
	display:none;
}
.settings_success {
	font-size:12px;
	color:green;
	display:none;
}
