<!DOCTYPE html>
<html>

<head>
	<title>SpeakEasy2: Electric Boogaloo</title>
	<link rel="icon" href="../static/Images/speak_easy_favicon.jpg"> <!-- favicon -->
	<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css" /> -->
	<script src="https://js.pusher.com/4.3/pusher.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Limelight" />
	<script type="text/javascript" src="../static/js/chat_room.js"></script>
</head>

<body style="overflow-y:hidden;" class="has-navbar-fixed-bottom">

	<div id="logo_01">
		<img src="../static/Images/speak_easy_logo_01.jpg" width="128" height="128"/>
	</div>
	
	<div id="chat_title">
		<h1>Global Chat</h1>
		<!-- <img src="../static/Images/speak_easy_logo_02.jpg" width="358" height="128"/> -->
	</div>

	<div id="chat_div">
		<div id="total_users_div">
			<span>Users In Area: </span><span id="user_count">1</span>		
		</div>
	<div id="msg_list">
		<!-- Origin point for messages to append to -->
		<div id="content" class="container" style="overflow-y:auto; margin-bottom: 100px;">
			<article class="media">
				<div class="media-content">
					<div class="content">
						<p>Start Typing! Don't worry, it's anonymous ;)</p>
					</div>
				</div>
			</article>
		</div>
	</div>
  
	<input id="chat_text" class="input" type="text">
	<button id="chat_btn">
		Send
	</button>
  
</body>

</html>