#total_users_div {
	margin-left:auto;
	margin-right:auto;
	text-align:right;
	margin-top:0px;
	font-size:15px;
	font-family: 'Sedgwick Ave', cursive;
	color:white;
}
#chat_div {
	margin-left:5px;
	width:80%;
	display:inline-block;
	float:left;
}
#msg_list {
	border:1px solid black;
	height:340px;
	overflow-y:auto;
	overflow-x:hidden;
	padding:7px;
	background-color:rgb(230,230,230);
	border:2px solid black;
}
#post {
	width:98.5%;
	resize:none;
	font-size:18px;
	padding-left:7px;
  letter-spacing:1px;
  margin-top: 5px;
	background-color:rgb(230,230,230);
	border:2px solid black;
} 
#submit_post_btn {
	float:right;
	width:100px;
	color:green;
	background-color: #353739;
	font-size: 20px;
	font-family: 'Yesteryear',cursive;
	border:2px solid black;
	margin-top:5px;
	width:100px;
}
#submit_post_btn:hover {
	background-color:white;
	transition:.3s;
}
#user_list {
	padding-top:50px;
	margin-left:10px;
	width:15%;
	position:fixed;
	bottom:0px;
	top:47px;
	border-left:2px solid black;
	border-collapse:collapse;
	display:inline-block;
	float:left;
}
.username {
	width:100%;
	border-collapse:collapse;
	text-align:center;
	font-family: 'Sedgwick Ave', cursive;
	color:white;
	margin-bottom:5px;
	margin-top:5px;
	background-color:grey;
	padding-top:3px;
}
.username_b {
	width:100%;
	border-collapse:collapse;
	text-align:center;
	font-weight:bold;
	font-family: 'Sedgwick Ave', cursive;
	color:white;
	margin-top:5px;
	margin-bottom:5px;
	background-color:grey;
	padding-top:3px;
}
#current_room {
	font-size:40px;
	font-family: 'Sedgwick Ave', cursive;
	font-weight:normal;
	text-align: center;
	margin-top:20px;
	margin-bottom:0px;
	color:white;
}
