html {
}
h1 {
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}
/*#sidebar {
	position:fixed;
	top:40px;
	left:0px;
	width:250px;
	height:100%;
	overflow-x:hidden;
	border:1px solid black;
	text-align:center;
	padding-top:5px;
	transition: width .5s;
} */
#main {
	/*margin-left:250px;
	margin-top:40px;*/
	height: 100vh;
	width: 100vw;
	transition: margin .5s;
	float: left;
}
#navbar {
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:40px;
	border:1px solid black;
}
.room_item:hover {
	color:white;
	background-color:grey;
	cursor:pointer;
	transition:.3s;
}
.room_item {
	border:1px solid black;
	margin:0px;
	height:50px;
}
#menu_header {
	margin:0px;
	height:30px;
	font-size:32px;
	font-weight:bold;
	text-wrap: auto;
}
#menu_toggle {
	margin-top:5px;
	margin-right:5px;
	float:right;
}