<!DOCTYPE html>
<html>
  <head>
    
    {% if title %}
    <title>SpeakEasy - {{ title }}</title>
    {% else %}
    <title>SpeakEasy - Chat</title>
    {% endif %}
    <title></title>


    <script src="https://js.pusher.com/4.3/pusher.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/jquery-form/form@4.2.2/dist/jquery.form.min.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout_style.css') }}">
    
    {% block chat_room_imports %}{% endblock chat_room_imports %}

    <script>
     $(document).ready(function () {
      curr_room= "Global";
      pusher = new Pusher('8d8668079552b2207a73', { authEndpoint:'/authenticate',
                                                    cluster:'us2',forceTLS:true });
      pusher.connection.bind('connected', function() {
        private_channel = pusher.subscribe("private-"+"{{curr_usr}}");
        private_channel.bind('pusher:subscription_succeeded',
          function(members) {
            if (navigator.geolocation) {
                get_rooms();
                window.setInterval(get_rooms,180000);
            } else {
              alert("Not Supported");
          }
        });
        private_channel.bind('new_room',
          function(data) {
            sidebar= document.getElementById("sidebar");
            new_room=  document.createElement('p');
            new_room.className= "room_item";
            new_name=  document.createElement('span');
            new_name.innerHTML= data.room;
            new_name.className= "room_name";
            created_by=  document.createElement('span');
            created_by.innerHTML= 'Created By: '+data.username;
            created_by.className= "room_creator";
            br=  document.createElement('br');
            if (sidebar.scrollTop+sidebar.clientHeight+10 >= sidebar.scrollHeight) {
              sidebar.appendChild(new_room);
              new_room.appendChild(new_name); 
              new_room.appendChild(br);
              new_room.appendChild(created_by);
              sidebar.scrollTop = sidebar.scrollHeight;
            }
            else {
              sidebar.appendChild(new_room);
              new_room.appendChild(new_name); 
              new_room.appendChild(br);
              new_room.appendChild(created_by);
            }
            new_room.onclick = function () {
              pusher.unsubscribe(mk_room(curr_room));
              curr_room= this.firstChild.innerHTML;
              load_chat('{{ curr_usr }}',curr_room);
            };
          }
        );
        load_chat('{{ curr_usr }}',curr_room);
      });
      document.getElementById("name").value= "";
      document.getElementById("expire").value= "1";
      $("#expire").attr({"required":"true"});
      $("#name").attr({"required":"true","pattern":"[A-Za-z0-9.&_=@,]{1,32}",
                       "autocomplete":"off"});
      $("#name").keydown(function (event) {
        if (event.keyCode == 32) {
          this.value= this.value+'_';
          return false;
        }
      });
      function get_rooms() {
        navigator.geolocation.getCurrentPosition(function (pos) {
          position = [];
          position['lat']= pos.coords.latitude;
          position['long']= pos.coords.longitude;
          save_user('{{curr_usr}}',position);
          $.post('/get/rooms', { 'username':'{{ curr_usr }}',
                                 'lat':position['lat'],'long':position['long'] },
            function (data) {
              sidebar= document.getElementById("sidebar");
              while (sidebar.children.length > 1) {
                sidebar.removeChild(sidebar.children[1]);
              }
              for (i=0;i<data['data'].length;++i) {
                new_room=  document.createElement('p');
                new_room.className= "room_item";
                new_name=  document.createElement('span');
                new_name.innerHTML= data['data'][i][1];
                new_name.className= "room_name";
                created_by=  document.createElement('span');
                created_by.innerHTML= 'Created By: '+data['data'][i][3];
                created_by.className= "room_creator";
                br=  document.createElement('br');
                if (sidebar.scrollTop+sidebar.clientHeight+10 >= sidebar.scrollHeight) {
                  sidebar.appendChild(new_room);
                  new_room.appendChild(new_name); 
                  new_room.appendChild(br);
                  new_room.appendChild(created_by);
                  sidebar.scrollTop = sidebar.scrollHeight;
                }
                else {
                  sidebar.appendChild(new_room);
                  new_room.appendChild(new_name); 
                  new_room.appendChild(br);
                  new_room.appendChild(created_by);
                }
                new_room.onclick = function () {
                  pusher.unsubscribe(mk_room(curr_room));
                  curr_room= this.firstChild.innerHTML;
                  load_chat('{{ curr_usr }}',curr_room);
                  $("#post").focus();
                };
              }
            }
          );
        });
      }
      function save_user(username,position) {
        $.post('/save/user',{'username':username,
               'lat':position['lat'],'long':position['long'] });
      }
      function mk_room(room) {
        return 'presence-'+room;
      }
      function load_chat(user,room) {
        user_count = 0;
        document.getElementById('current_room').innerHTML = room;
        document.getElementById("post").value = "";
        messages= document.getElementById('msg_list');
        if (messages.children.length >= 1) {
          while (messages.firstChild) {
            messages.removeChild(messages.firstChild);
          }
        }
        users= document.getElementById('user_list');
        if (users.children.length >= 1) {
          while (users.firstChild) {
            users.removeChild(users.firstChild);
          }
        }
        channel = pusher.subscribe(mk_room(room));
        channel.bind('pusher:subscription_succeeded',
          function(members) {
            user_count = members.count
            document.getElementById('user_count').innerHTML= user_count;
            members.each(function (member) {
              user_list= document.getElementById('user_list');
              user_tag= document.createElement('p');
              user_tag.innerHTML= member.id;
              user_tag.className= 'username';
              user_list.appendChild(user_tag);
              if (member.id == user)
                user_tag.className= 'username_b';
            });
          }
        );
        channel.bind('pusher:member_added',
          function(member) {
            ++user_count;
            document.getElementById('user_count').innerHTML= user_count;
            user_list= document.getElementById('user_list');
            user_tag= document.createElement('p');
            user_tag.innerHTML= member.id;
            user_tag.className= 'username';
            user_list.appendChild(user_tag);
          }
        );
        channel.bind('pusher:member_removed',
          function(member) {
            --user_count;
            document.getElementById('user_count').innerHTML= user_count;
            user_list= document.getElementById('user_list');
            users= user_list.children;
            for (i=0;i<users.length;++i) {
              if (users[i].innerHTML == member.id)
                user_list.removeChild(users[i]);
            }
          }
        );
        channel.bind('message',
          function(data) {
            msg=  document.createElement('p');
            msg.innerHTML= data.msg;
            msg.className= "message_left";
            msg_user=  document.createElement('p');
            msg_user.innerHTML= '- '+data.username;
            msg_user.className= "message_user";
            hr= document.createElement('hr');
            if (messages.scrollTop+messages.clientHeight+10 >= messages.scrollHeight) {
              messages.appendChild(msg);
              messages.appendChild(msg_user); 
              messages.appendChild(hr);
              messages.scrollTop = messages.scrollHeight;
            }
            else {
              messages.appendChild(msg);
              messages.appendChild(msg_user); 
              messages.appendChild(hr);
            }
            if (user == data.username)
              msg.className= "message_right";
          }
        );
        $.post('/get/messages/'+room, {'username':'{{ curr_usr }}'},
          function (data) { 
            for (i=data['data'].length-1;i>=0;--i) {
              msg=  document.createElement('p');
              msg.innerHTML= data['data'][i][3];
              msg.className= "message_left";
              msg_user=  document.createElement('p');
              msg_user.innerHTML= '- '+data['data'][i][1];
              msg_user.className= "message_user";
              hr= document.createElement('hr');
              messages.appendChild(msg);
              messages.appendChild(msg_user);
              messages.appendChild(hr);
              if (user == data['data'][i][1])
                msg.className= "message_right";
              messages.scrollTop = messages.scrollHeight;
              $("#post").focus();
            }
          }
        );          
      }
      $("#settings_btn").click( function () {
        window.location.href= "{{ url_for('settings',username="") }}"+"{{curr_usr}}";
      });
      $("#logout_btn").click( function () {
        window.location.href= "{{ url_for('logout') }}";
      });
      $("#global_btn").click( function () {
        pusher.unsubscribe(mk_room(curr_room));
        curr_room= 'Global';
        load_chat('{{ curr_usr }}','Global');
      });
      $("#create_room_btn").click( function () {
        $("#background_div").css({"display":"block"});
        $("#name").focus();
      });
      $("#submit_room_btn").click( function () {
        if ($("#create_room_form")[0].checkValidity()) {
          $("#background_div").css({"display":"none"});
          $(".room_error").css({'display':'none'});
          $.post('/create/room',
                  {name:document.getElementById("name").value,username:"{{ curr_usr }}",
                   time:document.getElementById("expire").value}
          );
          document.getElementById("name").value= "";
          document.getElementById("expire").value= "1";
        }
        else 
          $(".room_error").css({'display':'block'});
      });
      $("#close_btn").click( function () {
        $("#background_div").css({"display":"none"});
        $(".room_error").css({'display':'none'});
        document.getElementById("name").value= "";
        document.getElementById("expire").value= "1";
      });
      $("#menu_toggle").click( function () {
        if ($("#sidebar").width() == 250) {
          $("#sidebar").css({"width":"0px"});
          $("#main").css({"margin-left":"0px"});
        }
        if ($("#sidebar").width() == 0) {
          $("#sidebar").css({"width":"250px"});
          $("#main").css({"margin-left":"250px"});
        } 
      });
    });
  </script>

  </head>
  <body>
    
    <div id="navbar">
      <span id="current_user">{{ curr_usr }}</span>
      <button type="button" id="logout_btn">Logout</button>
      <button type="button" id="create_room_btn">Create Room</button>
      <button type="button" id="settings_btn">Settings</button>
      <button type="button" id="menu_toggle">Hide Rooms</button>
      <button type="button" id="global_btn">Global Chat</button>
    </div>
    
    <div id="sidebar">
      <p id="menu_header"> Rooms In Your Area </p>
      
    </div>
    
    <div id="main">
      {% block chat_room %}{% endblock chat_room %}
    </div>

    <div id="background_div">
      <div id="create_room_div">
        <span id="close_btn">&times;</span> <br>
        <form id="create_room_form" onsubmit="return false;">
          <div style="height:70px;">
            <label style="float:left;margin-top:5px;">Room Name:</label>
            <input type="text" id="name" name="name">
            <span id="required">* </span> <br>
            <label style="float:left;margin-top:20px;">Expire:</label>
            <select id="expire" name="expire">
              <option value="1">1 Hour</option>
              <option value="2">2 Hours</option>
              <option value="3">3 Hours</option>
              <option value="6">6 Hours</option>
              <option value="12">12 Hours</option>
              <option value="24">24 Hours</option>
            </select>
          </div> <br>
          <div style="text-align:center;">
            <button type="button" id="submit_room_btn">Create Room</button>
          </div>
          <div style="text-align:center;">
            <span class="room_error">Room name is not valid!</span>
            <span class="room_error">32 character max.</span>
            <span class="room_error">Special characters include (. & _ = @ ,)</span>
          </div>
        </form>
      </div>
    </div>

</div>
  </body>
</html>
