<!DOCTYPE html>
<html>
<head>
	<title>SpeakEasy - Settings</title>

  <link rel="stylesheet" href="{{ url_for('static',filename='css/settings.css') }}">
  <link rel="icon" href="../static/Images/speak_easy_favicon.jpg"> <!-- favicon -->
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <script>
  	$(document).ready( function () {
  		$.post('/get/distance', {'username':'{{ curr_usr }}'},
				function (data) {
  				$("#distance").attr({'min':1,'max':50,'value':data['data'][0]});
  				$("#distance").change();
  			}
			);
			$("#pw").attr({"required":"true",'minlength':8,'maxlength':32});
			$("#v_pw").attr({"required":"true",'minlength':8,'maxlength':32});
  		$("#distance").change(function () {
  			label= document.getElementById('distance_label');
  			distance= document.getElementById('distance');
  			label.innerHTML= distance.value + ' mi.';
  		});
  		$("#back_btn").click(function () {
  			window.location.href= "{{ url_for('chat',username="") }}"+"{{curr_usr}}";
  		});
  		$("#set_distance_btn").click(function () {
  			$("#distance_success").css({"display":"none"});
  			value= document.getElementById("distance").value;
  			$.post('/save/distance', {'username':'{{ curr_usr }}',"distance":value});
  			$("#distance_success").css({"display":"block"});
  		});
  		$("#update_pw_btn").click(function () {
  			$("#password_error_length").css({"display":"none"});
	  		$("#password_error_match").css({"display":"none"});
  			$("#password_success").css({"display":"none"});
  			if ($("#update_pw_form")[0].checkValidity()) {
	  			pw= document.getElementById("pw").value;
	  			v_pw= document.getElementById("v_pw").value;
	  			if (pw == v_pw) {
	  				$.post('/save/password', {'username':'{{ curr_usr }}',"password":pw});
	  				$("#password_success").css({"display":"block"});
	  			}
	  			else
	  				$("#password_error_match").css({"display":"block"});
	  				document.getElementById("pw").value= ""
	  				document.getElementById("v_pw").value= ""
				}
				else {
					$("#password_error_length").css({"display":"block"});
				}
  		});
  	});
  </script>
</head>
<body>
	<div id="settings_div">

		<label id="distance_label"></label>
		<br>
		<input id="distance" name="distance" type="range">
		<br>
		<label>Distance</label>
		<br>
		<button type="button" id="set_distance_btn">Set</button>
    <span class="settings_success" id="distance_success">Success!</span>
		<hr id='hr'>
		<form id="update_pw_form">
			<input class="pw" name="pw" id="pw" type="password">
			<input class="pw" name="v_pw" id="v_pw" type="password">
			<br>
			<label>New Password</label>
			<label id='pw_label'>Verify Password</label>
			<br>
			<button type="button" id="update_pw_btn">Update</button>
      <span class="settings_success" id="password_success">Success!</span>
      <span class="settings_error" id="password_error_match">Passwords do not match!</span>
      <span class="settings_error" id="password_error_length">Password not valid! 8-32 characters.</span>
    </form>
		<button type="button" id="back_btn">Back</button>
	
	</div>
</body>
</html>
