<!DOCTYPE html>
<html>
<head>
	<title>SpeakEasy - Settings</title>

  <link rel="stylesheet" href="{{ url_for('static',filename='css/settings.css') }}">
  <link rel="icon" href="../static/Images/speak_easy_favicon.jpg"> <!-- favicon -->
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Limelight" />
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <script>
  	$(document).ready( function () {
  		$("#distance").attr({'min':1,'max':50,'value':25});
  		$("#distance").change(function () {
  			label= document.getElementById('distance_label');
  			distance= document.getElementById('distance');
  			label.innerHTML= distance.value + ' mi.';
  		});
  		$("#back_btn").click(function () {
  			window.location.href= "{{ url_for('chat',username="") }}"+"{{curr_usr}}";
  		});
  	});
  </script>
</head>
<body>
	<div id="settings_div">

		<form id="user_settings">
			
			<label id="distance_label">25 mi.</label>
			<br>
			<input id="distance" name="distance" type="range">
			<br>
			<label>Distance</label>
			<br>
			<button type="button">Set</button>
			<hr id='hr'>
			<input class="pw" name="old_pw" type="text">
			<input class="pw" name="new_pw" type="text">
			<br>
			<label>Old Password</label>
			<label id='pw_label'>New Password</label>
			<br>
			<button type="button">Update</button>

		</form>
		<button type="button" id="back_btn">Back</button>
	</div>
</body>
</html>